$smartphone-portrait: "screen and (max-width:350px)";
$smartphone-paysage: "screen and (min-width:351px) and (max-width:480px)";
$tablette-portrait: "screen and (min-width:481px) and (max-width:720px)";
$tablette-paysage: "screen and (min-width:721px) and (max-width:960px)";
$ordi: "screen and (min-width:961px)";
