.container {
  width: 960px;
  margin: 0 auto;
  font-family: Arial;
}

iframe {
  max-width: 100% !important;
  height: 250px !important;
}

header {
  margin-bottom: 60px;
  text-align: center;
}
header h2 {
  font-family: serif;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
header p {
  color: #777873;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 0.7rem;
}
header hr {
  width: 25px;
  margin: 0 auto;
  border-top: 3px solid #050100;
}

.contact {
  display: grid;
  grid-template-columns: 2.8fr 1.8fr;
  grid-gap: 30px;
  align-items: flex-start;
}
.contact form {
  display: grid;
  grid-gap: 30px;
}
.contact form > input[type=text] {
  padding: 15px;
  border: 2px solid #f1f1f1;
  transition: border 1.5s;
}
.contact form > input[type=text]::-webkit-input-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > input[type=text]::-moz-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > input[type=text]:-ms-input-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > input[type=text]:-moz-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > input[type=text]::placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > input[type=text]:focus {
  border: 2px solid #777873;
}
.contact form > label {
  font-family: serif;
  font-weight: bold;
}
.contact form > textarea {
  padding: 15px;
  border: 2px solid #f1f1f1;
  height: 180px;
  transition: border 1.5s;
}
.contact form > textarea::-webkit-input-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > textarea::-moz-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > textarea:-ms-input-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > textarea:-moz-placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > textarea::placeholder {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}
.contact form > textarea:focus {
  border: 2px solid #777873;
}
.contact form .test {
  text-align: center;
  margin: 15px 0;
}
.contact form .submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
.contact form .submit input {
  padding: 15px 40px;
  background: white;
  border: 2px solid #050100;
  font-size: 0.8em;
  cursor: pointer;
  transition: background 0.5s;
}
.contact form .submit input:hover {
  background: #050100;
  color: white;
}

.widget {
  font-size: 0.75rem;
  text-align: justify;
  color: #777873;
}
.widget h3 {
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: bolder;
  color: #050100;
  margin: 27px 0;
}
.widget:first-child h3 {
  margin-top: 0;
}
.widget ul {
  padding: 0;
}
.widget ul > li {
  list-style: none;
}

/*# sourceMappingURL=03-exo.css.map */
