.btn1 {
  font-size: 1px;
}

.grille-1 {
  grid-template-columns: repeat(1, 1fr);
}

.marge-25 {
  margin: 25% 0;
}

.btn2 {
  font-size: 2px;
}

.grille-2 {
  grid-template-columns: repeat(2, 1fr);
}

.marge-50 {
  margin: 50% 0;
}

.btn3 {
  font-size: 3px;
}

.grille-3 {
  grid-template-columns: repeat(3, 1fr);
}

.marge-75 {
  margin: 75% 0;
}

.btn4 {
  font-size: 4px;
}

.grille-4 {
  grid-template-columns: repeat(4, 1fr);
}

.marge-100 {
  margin: 100% 0;
}

.icon-size-0 {
  font-size: 0%;
}

.icon-size-20 {
  font-size: 20%;
}

.icon-size-40 {
  font-size: 40%;
}

.icon-size-50 {
  font-size: 50%;
}

.icon-top {
  position: relative;
  top: 10px;
}

.icon-left {
  position: relative;
  top: 30px;
}

.icon-bottom {
  position: relative;
  top: 20px;
}

.icon-right {
  position: relative;
  top: 12px;
}

.ligne-2 {
  background-color: whitesmoke;
}

.ligne-3 {
  background-color: darkorange;
}

.ligne-4 {
  background-color: whitesmoke;
}

.ligne-5 {
  background-color: darkorange;
}

.ligne-6 {
  background-color: whitesmoke;
}

.ligne-7 {
  background-color: darkorange;
}

.ligne-8 {
  background-color: whitesmoke;
}

.ligne-9 {
  background-color: darkorange;
}

.ligne-10 {
  background-color: whitesmoke;
}

.ligne-11 {
  background-color: darkorange;
}

.ligne-12 {
  background-color: whitesmoke;
}

.ligne-13 {
  background-color: darkorange;
}

.ligne-14 {
  background-color: whitesmoke;
}

.ligne-15 {
  background-color: darkorange;
}

.ligne-16 {
  background-color: whitesmoke;
}

.ligne-17 {
  background-color: darkorange;
}

.ligne-18 {
  background-color: whitesmoke;
}

.ligne-19 {
  background-color: darkorange;
}

.ligne-20 {
  background-color: whitesmoke;
}

p:nth-child(1) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 0.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 1;
}

p:nth-child(2) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 0.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 2;
}

p:nth-child(3) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 0.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 3;
}

p:nth-child(4) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 1.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 4;
}

p:nth-child(5) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 1.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 5;
}

p:nth-child(6) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 1.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 6;
}

p:nth-child(7) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 2.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 7;
}

p:nth-child(8) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 2.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 8;
}

p:nth-child(9) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 2.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 9;
}

p:nth-child(10) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 10;
}

p:nth-child(11) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 3.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 11;
}

p:nth-child(12) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 3.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 12;
}

p:nth-child(13) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 3.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 13;
}

p:nth-child(14) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 4.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 14;
}

p:nth-child(15) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 4.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 15;
}

p:nth-child(16) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 4.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 16;
}

p:nth-child(17) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 5.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 17;
}

p:nth-child(18) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 5.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 18;
}

p:nth-child(19) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 5.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 19;
}

p:nth-child(20) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 20;
}

p:nth-child(21) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 6.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 21;
}

p:nth-child(22) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 6.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 22;
}

p:nth-child(23) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 6.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 23;
}

p:nth-child(24) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 7.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 24;
}

p:nth-child(25) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 7.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 25;
}

p:nth-child(26) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 7.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 26;
}

p:nth-child(27) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 8.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 27;
}

p:nth-child(28) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 8.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 28;
}

p:nth-child(29) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 8.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 29;
}

p:nth-child(30) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 30;
}

p:nth-child(31) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 9.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 31;
}

p:nth-child(32) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 9.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 32;
}

p:nth-child(33) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 9.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 33;
}

p:nth-child(34) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 10.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 34;
}

p:nth-child(35) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 10.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 35;
}

p:nth-child(36) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 10.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 36;
}

p:nth-child(37) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 11.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 37;
}

p:nth-child(38) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 11.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 38;
}

p:nth-child(39) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 11.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 39;
}

p:nth-child(40) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 12s;
  animation-fill-mode: forwards;
}
p:before {
  content: 40;
}

p:nth-child(41) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 12.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 41;
}

p:nth-child(42) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 12.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 42;
}

p:nth-child(43) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 12.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 43;
}

p:nth-child(44) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 13.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 44;
}

p:nth-child(45) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 13.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 45;
}

p:nth-child(46) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 13.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 46;
}

p:nth-child(47) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 14.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 47;
}

p:nth-child(48) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 14.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 48;
}

p:nth-child(49) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 14.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 49;
}

p:nth-child(50) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 15s;
  animation-fill-mode: forwards;
}
p:before {
  content: 50;
}

p:nth-child(51) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 15.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 51;
}

p:nth-child(52) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 15.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 52;
}

p:nth-child(53) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 15.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 53;
}

p:nth-child(54) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 16.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 54;
}

p:nth-child(55) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 16.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 55;
}

p:nth-child(56) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 16.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 56;
}

p:nth-child(57) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 17.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 57;
}

p:nth-child(58) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 17.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 58;
}

p:nth-child(59) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 17.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 59;
}

p:nth-child(60) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 18s;
  animation-fill-mode: forwards;
}
p:before {
  content: 60;
}

p:nth-child(61) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 18.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 61;
}

p:nth-child(62) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 18.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 62;
}

p:nth-child(63) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 18.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 63;
}

p:nth-child(64) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 19.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 64;
}

p:nth-child(65) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 19.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 65;
}

p:nth-child(66) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 19.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 66;
}

p:nth-child(67) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 20.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 67;
}

p:nth-child(68) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 20.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 68;
}

p:nth-child(69) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 20.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 69;
}

p:nth-child(70) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 21s;
  animation-fill-mode: forwards;
}
p:before {
  content: 70;
}

p:nth-child(71) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 21.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 71;
}

p:nth-child(72) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 21.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 72;
}

p:nth-child(73) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 21.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 73;
}

p:nth-child(74) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 22.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 74;
}

p:nth-child(75) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 22.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 75;
}

p:nth-child(76) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 22.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 76;
}

p:nth-child(77) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 23.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 77;
}

p:nth-child(78) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 23.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 78;
}

p:nth-child(79) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 23.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 79;
}

p:nth-child(80) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 24s;
  animation-fill-mode: forwards;
}
p:before {
  content: 80;
}

p:nth-child(81) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 24.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 81;
}

p:nth-child(82) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 24.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 82;
}

p:nth-child(83) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 24.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 83;
}

p:nth-child(84) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 25.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 84;
}

p:nth-child(85) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 25.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 85;
}

p:nth-child(86) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 25.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 86;
}

p:nth-child(87) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 26.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 87;
}

p:nth-child(88) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 26.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 88;
}

p:nth-child(89) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 26.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 89;
}

p:nth-child(90) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 27s;
  animation-fill-mode: forwards;
}
p:before {
  content: 90;
}

p:nth-child(91) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 27.3s;
  animation-fill-mode: forwards;
}
p:before {
  content: 91;
}

p:nth-child(92) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 27.6s;
  animation-fill-mode: forwards;
}
p:before {
  content: 92;
}

p:nth-child(93) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 27.9s;
  animation-fill-mode: forwards;
}
p:before {
  content: 93;
}

p:nth-child(94) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 28.2s;
  animation-fill-mode: forwards;
}
p:before {
  content: 94;
}

p:nth-child(95) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 28.5s;
  animation-fill-mode: forwards;
}
p:before {
  content: 95;
}

p:nth-child(96) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 28.8s;
  animation-fill-mode: forwards;
}
p:before {
  content: 96;
}

p:nth-child(97) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 29.1s;
  animation-fill-mode: forwards;
}
p:before {
  content: 97;
}

p:nth-child(98) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 29.4s;
  animation-fill-mode: forwards;
}
p:before {
  content: 98;
}

p:nth-child(99) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 29.7s;
  animation-fill-mode: forwards;
}
p:before {
  content: 99;
}

p:nth-child(100) {
  transform: translate(2000px, 0);
  animation: apparition 0.5s 30s;
  animation-fill-mode: forwards;
}
p:before {
  content: 100;
}

@keyframes apparition {
  to {
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=04-boucle-if.css.map */
